[submodule "IOPS-Live-Viewer"]
	path = IOPS-Live-Viewer
	url = git@github.com:TrafoToolkit/IOPS-Live-Viewer.git
[submodule "IOPS-LivePNP"]
	path = IOPS-LivePNP
	url = git@github.com:TrafoToolkit/IOPS-LivePNP.git
[submodule "IOPS-Data-Manager"]
	path = IOPS-Data-Manager
	url = git@github.com:TrafoToolkit/IOPS-Data-Manager.git
[submodule "IOPS-Location-Engine-UWB"]
	path = IOPS-Location-Engine-UWB
	url = git@github.com:TrafoToolkit/IOPS-Location-Engine-UWB.git
	branch = feature/calibration_from_log_file
[submodule "IOPS-Logger"]
	path = IOPS-Logger
	url = git@github.com:TrafoToolkit/IOPS-Logger.git
[submodule "IOPS-mqtt-internal-interface"]
	path = IOPS-mqtt-internal-interface
	url = git@github.com:TrafoToolkit/IOPS-mqtt-internal-interface.git
[submodule "IOPS-data"]
	path = IOPS-data
	url = git@github.com:TrafoToolkit/IOPS-data.git
